body{
  background-image:url("./assets/bg.avif");
  background-position: center;
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-size: cover;       /* Cover the entire element */
  background-position: center;
  /* color: rgb(61, 8, 39); */
}
.textA {
  background-color: rgb(58, 83, 224);
  transition: background-color 0.3s ease;
}
.textA:hover{
background-color: white;
}

.button{
  background-color: rgb(58, 83, 224);
  transition: background-color 0.3s ease;
}

.button:hover{
  background-color: blueviolet;
}
.sp_Over{
    /* Override the display property to make sure it's visible */
    position: absolute;

    /* Override the margin property to center the spinner */
    margin: 0 auto !important;
  
    /* Override the color or any other properties as needed */
    border-color: red !important;
  
}

.bd{
  border-radius: 35px;
}
.offCanSize{
  width: 30vh;
  height: 95%;
}

/* ---------- */
/* --About-- */
/* ---------- */


.text-D{
  border: 2px solid black;
  background-color: yellowgreen;
  border-radius: 20px;
  margin-right: 35px;
  margin-left: -10px;
  margin-top: 40px;
}
.pht{
  margin-left: 60px;
}


/* ---------- */
/* --Alert-- */
/* ---------- */


.alrt{
  position: fixed;
}

/* ---------- */
/* --AddNote-- */
/* ---------- */
.ft{
 font-size: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body{
    padding: 1px;
  }
  .ft{
font-size: 16px;
  }
  .text-D{
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .pht{
  margin: -5px;
  }
}